<div class="chart" *ngIf="inputsIsLoaded">
  <ngx-charts-line-chart
  [view]="view"
  [results]="results"
  [gradient]="gradient"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [legend]="legend"
  [autoScale]="autoScale"
  [timeline]="timeline"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [legendTitle]="legendTitle"
  [xAxisTickFormatting]='formatXTicks'
  [legendPosition]="legendPosition"
  [animations]="animations"
  [showGridLines]="showGridLines"
  [tooltipDisabled]="tooltipDisabled"> 
  </ngx-charts-line-chart>
</div>

<p *ngIf="!inputsIsLoaded">Não há medições para esse período</p>