<mat-card class="cardDateRange">
  <form (keyup.enter)="emitDateRange(); showMessage('Medições atualizadas!');" class="dateRange">
    <mat-form-field>
      <input type="date" matInput placeholder="Data Inicial" [(ngModel)]="dateRange.initialDate" name="initialDate">
    </mat-form-field>
    <mat-form-field>
      <input type="date" matInput placeholder="Data Final" [(ngModel)]="dateRange.finalDate" name="finalDate">
    </mat-form-field>
  </form>
  <button mat-raised-button (click)="emitDateRange(); showMessage('Medições atualizadas!');" color="primary">
    Atualizar
  </button>
</mat-card>