<app-date-range (dateRangeEmitter)="getDateRange($event)"></app-date-range>

<mat-tab-group (selectedTabChange)="tabDefiner($event)" class="medicoes" dynamicHeight="true" mat-align-tabs="center">
  <mat-tab label="Tensões">

  </mat-tab>
  <mat-tab label="Correntes">
    
  </mat-tab>
  <mat-tab label="Potências Ativas">

  </mat-tab>
  <mat-tab label="Potências Reativas">
    
  </mat-tab>
  <mat-tab label="Potências Aparentes">

  </mat-tab>
  <mat-tab label="Fatores de Potência">
    
  </mat-tab>
</mat-tab-group>