<app-date-range (dateRangeEmitter)="getDateRange($event)"></app-date-range>

<mat-tab-group (selectedTabChange)="tabDefiner($event)" class="medicoes" dynamicHeight mat-align-tabs="center">
  <mat-tab label="Tensões">
    <div class="tab-item">
      <app-line-chart [inputs]="this.medicoes"></app-line-chart>
    </div>
  </mat-tab>
  <mat-tab label="Correntes">
    <div class="tab-item">
      <app-line-chart [inputs]="this.medicoes"></app-line-chart>
    </div>
  </mat-tab>
  <mat-tab label="Potências Ativas">
    <div class="tab-item">
      <app-line-chart [inputs]="this.medicoes"></app-line-chart>
    </div>
  </mat-tab>
  <mat-tab label="Potências Reativas">
    <div class="tab-item">
      <app-line-chart [inputs]="this.medicoes"></app-line-chart>
    </div>
  </mat-tab>
  <mat-tab label="Consumos Ativos">
    <div class="tab-item">
      <app-bar-chart [inputs]="this.medicoes"></app-bar-chart>
    </div>
  </mat-tab>
  <mat-tab label="Consumos Reativos">
    <div class="tab-item">
      <app-bar-chart [inputs]="this.medicoes"></app-bar-chart>
    </div>
  </mat-tab>
  <mat-tab label="Demandas Ativas">
    <div class="tab-item">
      <app-bar-chart [inputs]="this.medicoes"></app-bar-chart>
    </div>
  </mat-tab>
  <mat-tab label="Demandas Reativas">
    <div class="tab-item">
      <app-bar-chart [inputs]="this.medicoes"></app-bar-chart>
    </div>
  </mat-tab>
  <mat-tab label="Tabelas">
    <div class="tab-item">
      <app-medicoes-table [inputs]="this.medicoes"></app-medicoes-table>
    </div>
  </mat-tab> 
</mat-tab-group>