<div class="mat-elevation-z8">
  
  <img (click)="this.downloadMeasurementXLSX()" src="assets/images/document-excel-file-format-microsoft-spreadsheet-type-icon-740119.png" alt="exportar xlsx">
  <img (click)="this.downloadMeasurementCSV()" src="assets/images/csv-pngrepo-com.png" alt="exportar csv">
 
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="Data/Hora">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Data/Hora</th>
      <td mat-cell *matCellDef="let row">{{row.timestamp}}</td>
    </ng-container>

    <ng-container matColumnDef="Tensão Fase A (V)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tensão Fase A (V)</th>
      <td mat-cell *matCellDef="let row">{{row.values['Tensao Fase A (V)']}}</td>
    </ng-container>

    <ng-container matColumnDef="Tensão Fase B (V)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tensão Fase B (V)</th>
      <td mat-cell *matCellDef="let row">{{row.values['Tensao Fase B (V)']}}</td>
    </ng-container>

    <ng-container matColumnDef="Tensão Fase C (V)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tensão Fase C (V)</th>
      <td mat-cell *matCellDef="let row">{{row.values['Tensao Fase C (V)']}}</td>
    </ng-container>

    <ng-container matColumnDef="Corrente Fase A (A)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Corrente Fase A (A)</th>
      <td mat-cell *matCellDef="let row">{{row.values['Corrente Fase A (A)']}}</td>
    </ng-container>

    <ng-container matColumnDef="Corrente Fase B (A)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Corrente Fase B (A)</th>
      <td mat-cell *matCellDef="let row">{{row.values['Corrente Fase B (A)']}}</td>
    </ng-container>

    <ng-container matColumnDef="Corrente Fase C (A)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Corrente Fase C (A)</th>
      <td mat-cell *matCellDef="let row">{{row.values['Corrente Fase C (A)']}}</td>
    </ng-container>

    <ng-container matColumnDef="Potência Ativa Total (kW)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Potência Ativa Total (kW)</th>
      <td mat-cell *matCellDef="let row">{{row.values['Potencia Ativa Total (kW)']}}</td>
    </ng-container>

    <ng-container matColumnDef="Potência Reativa Total (kVAr)">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Potência Reativa Total (kVAr)</th>
      <td mat-cell *matCellDef="let row">{{row.values['Potencia Reativa Total (kVAr)']}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data?.length"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
