<ngx-charts-bar-vertical
[results]="test"
[gradient]="gradient"
[xAxis]="xAxis"
[yAxis]="yAxis"
[legend]="legend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[legendTitle]="legendTitle"
[legendPosition]="legendPosition"
[animations]="animations"
[showGridLines]="showGridLines"
[showDataLabel]="showDataLabel"
[barPadding]="barPadding"
[tooltipDisabled]="tooltipDisabled"
[roundEdges]="roundEdges">  
</ngx-charts-bar-vertical>